@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?phinkv');
  src:  url('fonts/icomoon.eot?phinkv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?phinkv') format('truetype'),
    url('fonts/icomoon.woff?phinkv') format('woff'),
    url('fonts/icomoon.svg?phinkv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paste:before {
  content: "\e92d";
}
.icon-pushpin:before {
  content: "\e901";
}
.icon-display:before {
  content: "\e904";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e905";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e909";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-circle-down:before {
  content: "\ea43";
}
